{% extends "layout.html" %}

{% block title %}
Conócenos!
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col">
    <h1>Conócenos!</h1>
    <p class="mt-3">Somos una empresa ecuatoriana comprometida en ofrecer una amplia gama de equipos de protección personal de marcas nacionales e internacionales, 
      nos centramos en mejorar las condiciones de seguridad industrial y salud ocupacional de tus colaboradores. Desarrollamos conciencia preventiva y hábitos de trabajo seguros en tus empleadores y en el talento humano.</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <h2>Contacto</h2>
    <address class="mt-3">
      <strong>Dirección:</strong> Dirección: Pichincha / Quito / Kennedy / Leonardo Tejada 121 Y Antigua Via A Nayon <br>
      <strong>Teléfono:</strong> (02) 2881 072 <br>
      <strong>Email:</strong> <a href="mailto:contabilidad@safetypsupplyec.com">contabilidad@safetypsupplyec.com</a>
    </address>
  </div>
</div>
{% endblock %}